body
{
    background-image: url("https://img.wallpapersafari.com/desktop/1536/864/8/79/UBtDVG.jpg")
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color:paleturquoise;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.webcam
{
  background-color:darksalmon;
  box-shadow:5px 5px 28px black;
  padding: 10px;
  margin-bottom: 15px;
}